<!-- views/student.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Information</title>
</head>
<body>
  <h1>Student Information</h1>
  <ul>
    <li>Student ID: <%= student.student_id %></li>
    <li>First Name: <%= student.first_name %></li>
    <li>Middle Name: <%= student.middle_name %></li>
    <li>Last Name: <%= student.last_name %></li>
    <li>Birth Date: <%= student.birth_date %></li>
    <li>University Email: <%= student.university_email %></li>
    <li>CGPA: <%= student.cgpa %></li>
    <li>Department ID: <%= student.department_id %></li>
    <li>Faculty Name: <%= student.faculty_name %></li>
  </ul>
</body>
</html>
